<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340804162384-7jds5g6c9l69urr3ovtm8pk0gc27begf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340804162384-7jds5g6c9l69urr3ovtm8pk0gc27begf</string>
	<key>API_KEY</key>
	<string>AIzaSyA5qBP887Jh9CSl0F905zj5GPrMxvnVyKw</string>
	<key>GCM_SENDER_ID</key>
	<string>340804162384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicalApp</string>
	<key>PROJECT_ID</key>
	<string>lasu-medical</string>
	<key>STORAGE_BUCKET</key>
	<string>lasu-medical.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340804162384:ios:178ec51974c34ca988d255</string>
</dict>
</plist>